@model tesh.Models.Alumnos

@{
    ViewData["Title"] = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Detalle Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreAlumno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreAlumno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoAlumno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidoAlumno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimientoAlumno)
        </dt>
        @*<dd>
            @Html.DisplayFor(model => model.FechaNacimientoAlumno)
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="List">Back to List</a>
</div>
